/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}

html, body {
    width: 100%;
    display: flex;
    justify-content: center;
}

#root {
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    width: max-content;
}

button:hover {
    background-color: gray;
    color: orangered;
}
