.shopping-cart-wrapper {
    min-width: 900px; 
    max-width: 1224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.cart-items {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shopping-cart-upper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 25px;
    gap: 15px;
}

.cart-item-box {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    border: 3px solid lightgray;
    box-shadow: 3px 3px 3px black;
    border-radius: 15px;
    padding: 10px;
    max-height: 500px;
}

.product-image {
    max-width: 200px;
    height: auto;
    border-radius: 15px;
}

.cart-item-box-left {
    position: relative;
    height: 100%;
    max-height: 480px;
    width: 200px;
}

.cart-item-box-left > h4 {
    position: absolute;
    background-color: darkgray;
    border-radius: 15px;
    padding: 3px;
    width: fit-content;
}

.cart-item-box-center {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    max-height: 480px;
    height: fit-content;
}

.cart-item-box-right {
    max-height: 480px;
    height: fit-content;
}

.cart-quantity-form {
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.cart-quantity-form > input {
    border-radius: 10px;   
}

.cart-description {
    overflow: scroll;
    height: 50%;
    overflow-x: hidden;
    width: 100%;
    word-break: break-word;
}

.cart-description::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: whitesmoke;
}

.cart-product-name {
    font-weight: bold;
}

.cart-product-category {
    color: orangered;
}

.payment-methods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 5px;
    padding: 15px;
}

.payment-methods:hover{
    
    box-shadow: 5px 5px 5px black;
}